[
    {config, [
        #{
            files => ["src/*.erl"],
            ruleset => erl_files,
            rules => [
                {elvis_style, atom_naming_convention, #{regex => "^([a-z][A-Za-z0-9]*_?)*$"}},
                {elvis_style, private_data_types, #{apply_to => [record]}},
                {elvis_style, no_deep_nesting, #{level => 5}}
            ]
        },
        #{
            files => ["test/*.erl"],
            ruleset => erl_files,
            rules => [{elvis_style, no_debug_call, disable}]
        }
    ]}
].
